$color-white: #ffffff;

$color-grey: #b5b0b0;
$color-grey-light: hsl(229, 24%, 87%);
$color-grey-dark: #767676;

$color-blue: hsl(243, 100%, 62%);
$color-blue-light: hsl(206, 94%, 87%);
$color-blue-dark: hsl(213, 96%, 18%);