p {
    margin-top: .4rem;
    color: $color-grey-light;
    font-size: .8rem;
    font-weight: 600;
}

.heading_sec {
    color: $color-blue-dark;
}

.heading__ter {
    color: $color-blue-dark;
    font-size: 1rem;
}