p {
    margin-top: .4rem;
    color: $color-grey-light;
    font-size: .8rem;
    font-weight: 600;
    @include respond(tab-port) { 
        font-size: .6rem;
    }
    @include respond(phone) { 
        font-size: .8rem;
    }
}

.heading_sec {
    color: $color-blue-dark;
}

.heading__ter {
    color: $color-blue-dark;
    font-size: 1rem;
    @include respond(tab-port) {
        font-size: .8rem;
    }
    @include respond(phone-land) { 
        font-size: .6rem;
    }
    @include respond(phone) { 
        font-size: 1rem;
    }
}

.heading__bottom {
    color: $color-blue-dark;
    font-size: .7rem;
    margin-top: .4rem;
}
.line {
    height: 1.2px;
    width: 100%;
    background-color: rgba($color-grey-light, .4rem);
}

.num {
    background-color: #83dcf7;
    color: hsl(213, 96%, 18%) !important;
    border: 1px solid #83dcf7 !important;
}

.light-blue-bg {
    background-color: hsl(228, 100%, 84%);
}