p {
    margin-top: .4rem;
    color: $color-grey-light;
    font-size: .8rem;
    font-weight: 600;
}

.heading_sec {
    color: $color-blue-dark;
}

.heading__ter {
    color: $color-blue-dark;
    font-size: 1rem;
}

.line {
    height: 1.2px;
    width: 100%;
    background-color: rgba($color-grey-light, .4rem);
}

.num {
    background-color: #83dcf7;
    color: $color-blue-dark;
    border: 1px solid #83dcf7 !important;
}

.light-blue-bg {
    background-color: rgba($color-blue-light, .3);
}