.aside {
    margin-top: 2rem;
    // margin-right: 2rem;
    &__step--one {
        
        &__form {
            margin-top: 2rem;
        }
        &__L {
            display: inline-block;
            font-weight: 600;
            color: $color-blue-dark;  
            width: 10rem;
        }
        &__required {
            color: red !important;
            display: inline-block;
            margin-left: 6rem;
        }
        &__I {
            display: block;
            margin-bottom: 2rem;
            margin-top: 5px;
            width: 100%;
            height: 2.5rem;
            padding: .5rem;
            border: 1px solid $color-grey-light;
            border-radius: .4rem;

            &::placeholder {
                font-weight: 600;
                color: $color-grey-light;
            }

            &:focus {
                outline: none;

                &:invalid {
                    border: 1px solid red;
                }
            }
        }

        &__nextBoxPlan {
            position: absolute;
            right: 6.5rem;
        }

        &__nextPlan {
            border: none;
            padding: .5rem 1rem;
            border-radius: .3rem;
            color: $color-white;
            background-color: $color-blue-dark;
            cursor: pointer;

            &:hover,
            &:active {
                opacity: .8;
            }
        }
    }

    &__step--two {

        &__con {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            width: 7rem;
            height: 100%;
            border-radius: 4px;
            border: 1.5px solid $color-grey-light;
            cursor: pointer;

            &:hover {
                border: 1.55px solid $color-blue;
                transform: translateY(-6px) scale(1.1);
            } 
        }

        &__pic {
            width: 2.5rem;
            height: 2.5rem;
            margin-bottom: 2.5rem;
        }

        &__radio-input {
            display: none;
        }

        &__radio-input:checked + &__radio-label &__con{
            border: 1.55px solid $color-blue;
            background-color: rgba($color-blue-light, .3);
        }
        &__backBoxInfo {
            position: absolute;
            left: 18.5rem;
            bottom: 2.5rem;
        }

        &__backInfo {
            border: none;
            padding: .5rem 1rem;
            border-radius: .3rem;
            color: $color-blue-dark;
            text-decoration: none;
            font-weight: 700;
            cursor: pointer;
        }

        &__nextBoxAddon {
            position: absolute;
            right: 7.5rem;
            bottom: 2rem;
        }

        &__nextAddon {
            border: none;
            padding: .5rem 1rem;
            border-radius: .3rem;
            color: $color-white;
            background-color: $color-blue-dark;
            cursor: pointer;
        }
    }

    &__step--three {
        &__con {
            display: flex;
            flex-direction: row;
            padding: 1rem 1rem 1rem 1.3rem;
            width: 25rem;
            height: 3.5rem;
            border-radius: 4px;
            border: 1.5px solid $color-grey-light;
            cursor: pointer;

            &:hover {
                border: 1.55px solid $color-blue;
            }
        }

        input {
            margin-right: 1rem;
            accent-color: $color-blue;
        }

        &__con:has(input:checked) {
            background-color: rgba($color-blue-light, .3);
            border: 1.55px solid $color-blue;
        }

        &__text {
            color: $color-blue-dark;
            font-weight: 700;
            font-size: .8rem;
        }

        &__subText {
            font-weight: 700;
            font-size: .6rem;
            margin: .2rem;
        }

        &__price {
            position: absolute;
            right: 6.5rem;
            color: $color-blue;
            font-weight: 300;
        }

        &__backBoxPlan {
            position: absolute;
            left: 18.5rem;
            bottom: 2.5rem;
        }

        &__backPlan {
            border: none;
            padding: .5rem 1rem;
            border-radius: .3rem;
            color: $color-grey-light;
            text-decoration: none;
            font-weight: 700;
            cursor: pointer;
        }

        &__nextBoxSum {
            position: absolute;
            right: 5.5rem;
            bottom: 2rem;
        }

        &__nextSum {
            border: none;
            padding: .5rem 1rem;
            border-radius: .3rem;
            color: $color-white;
            background-color: $color-blue-dark;
            cursor: pointer;
        }
    }

    &__step--four { 
        &__con {
            position: relative;
            padding: 1rem;
            margin-top: 2rem;
            width: 25rem;
            height: 100%;
            background-color: rgba($color-grey-light, .1);
            border-radius: 1rem;
        }

        &__top{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &--price {
                color: $color-blue-dark;
                font-size: 1rem;
            }
        }
        &__choice {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: .5rem;
            
        }

        &__pl {
            color: $color-blue-dark;
        }


        &__total {
            margin-top: 2rem;
            margin-left: 1.5rem;
            display: flex;
            justify-content: space-between;
            
        }
        &__plD {
            color: $color-blue; 
            font-size: 1.2rem;
        }

        h3 {
            color: $color-blue-dark;
            font-size: 1rem;
            }
        a {
            font-size: .8rem; 
            color: $color-blue; 
        }
        p {
            &:not(:first-child) {
                margin-top: 1rem;
            }
        }

        &__backBoxAddon {
            position: absolute;
            left: 18.5rem;
            bottom: 2.5rem;
        }

        &__backAddon {
            border: none;
            padding: .5rem 1rem;
            border-radius: .3rem;
            color: $color-grey-light;
            text-decoration: none;
            font-weight: 700;
            cursor: pointer;
        }

        &__nextBoxCon {
            position: absolute;
            right: 5.5rem;
            bottom: 2rem;
        }

        &__nextCon {
            border: none;
            padding: .5rem 1rem;
            border-radius: .3rem;
            color: $color-white;
            background-color: $color-blue-dark;
            cursor: pointer;
        }
            
        
    }

    &__completed {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: middle;
        @include center;
        left: 65%;

        &--pic {
            margin-bottom: 1rem;
            height: 3rem;
        }
        &--text {
            width: 25rem;
            text-align: center;
            margin-top: .4rem;
        }
        h3 {
            font-family: 'Roboto', sans-serif;
        }
    }
}

.hidden {
    display: none;
}