.sidebar {
    margin-right: 4.2rem;
    @include respond(tab-port) { 
        margin-right: 2rem;
    }
    &__start {
        position: relative;
        &-img {
            height: 30rem;
            @include respond(tab-port) { 
                height: 25rem;
            }
            @include respond(phone-land) { 
                height: 26rem;
            }
            @include respond(phone) {
                display: none;
            }
        }
        &-content {
            display: flex;
            position: absolute;
            top: 2.5rem;
            left: 2rem;

            &__left {
                margin-right: 1.5rem;
                @include respond(phone) {
                    display: flex;
                    flex-direction: row;
                    position: absolute;
                    top: -8rem;
                    margin-right: 0;
                    margin-left: 2rem;
                }
            }
            
            &__right {
                @include respond(phone) {
                    display: none;
                }
            }
            &__num{
                border: 1px solid $color-white;
                height: 2rem;
                width: 2rem;
                text-align: center;
                border-radius: 50%;
                line-height: 1.8rem;
                color: $color-white;
                font-weight: 700;
                font-size: .8rem;
                cursor: pointer;
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }

                @include respond(phone) {
                    margin-right: 1rem;
                }
            }
            &__numH {
                border: 1px solid $color-blue-light;
                background-color: $color-blue-light;
                color: $color-blue;
            }
            &__text {
                font-weight: 600;
                font-size: .8rem;
                color: $color-white;
                text-transform: uppercase;
                &:not(:last-child) {
                    margin-bottom: 2.7rem;
                }
                @include respond(tab-port) { 
                    font-size: .7rem;
                }
                @include respond(phone-land) { 
                    font-size: .6rem;
                }
                @include respond(phone) { 
                    font-size: .8rem;
                }
            }
            span {
                display: block;
                text-transform: uppercase;
                color: $color-white;
                font-size: .5rem;
                font-weight: 100;
            }
        }

    }
}